<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php" verbose="true" colors="true" cacheResult="false" beStrictAboutTestsThatDoNotTestAnything="true" beStrictAboutOutputDuringTests="true">
    <testsuites>
        <testsuite name="All Tests Suite">
            <directory>./tests</directory>
            <exclude>./tests/Unit/Db2Test.php</exclude>
            <exclude>./tests/Unit/MssqlTest.php</exclude>
        </testsuite>
        <testsuite name="Unitary Tests Suite">
            <directory>./tests/Unit</directory>
            <exclude>./tests/Unit/Db2Test.php</exclude>
            <exclude>./tests/Unit/MssqlTest.php</exclude>
        </testsuite>
        <testsuite name="Functional Tests Suite">
            <directory>./tests/Functional</directory>
        </testsuite>
        <testsuite name="Relations Tests Suite">
            <directory>./tests/Relations</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="URL_DOMAIN" value="http://localhost" force="true" />
    </php>
</phpunit>