<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php" verbose="true" colors="true" cacheResult="false" beStrictAboutTestsThatDoNotTestAnything="true" beStrictAboutOutputDuringTests="true" processIsolation="true">
    <testsuites>
        <testsuite name="All Tests Suite">
            <directory>./tests</directory>
            <exclude>./tests/Integration/Cache</exclude>
        </testsuite>
        <testsuite name="Unitary Tests Suite">
            <directory>./tests/Unit</directory>
        </testsuite>
        <testsuite name="Functional Tests Suite">
            <directory>./tests/Functional</directory>
        </testsuite>
        <testsuite name="Integration Tests Suite">
            <directory>./tests/Integration</directory>
            <exclude>./tests/Integration/Cache</exclude>
        </testsuite>
    </testsuites>
    <php>
        <env name="MYSQL_HOST" value="host.docker.internal" force="true" />
        <env name="MYSQL_DATABASE" value="test" force="true" />
        <env name="MYSQL_USERNAME" value="test" force="true" />
        <env name="MYSQL_PASSWORD" value="test" force="true" />
        <env name="POSTGRES_HOST" value="host.docker.internal" force="true" />
        <env name="POSTGRES_DATABASE" value="test" force="true" />
        <env name="POSTGRES_USERNAME" value="root" force="true" />
        <env name="POSTGRES_PASSWORD" value="root" force="true" />
        <env name="SQLSRV_HOST" value="host.docker.internal" force="true" />
        <env name="SQLSRV_DATABASE" value="master" force="true" />
        <env name="SQLSRV_USERNAME" value="sa" force="true" />
        <env name="SQLSRV_PASSWORD" value="Administrador1" force="true" />
        <env name="ORACLE_HOST" value="host.docker.internal" force="true" />
        <env name="ORACLE_DATABASE" value="SYSTEM" force="true" />
        <env name="ORACLE_USERNAME" value="SYS" force="true" />
        <env name="ORACLE_PASSWORD" value="oracle" force="true" />
        <env name="DB2_HOST" value="host.docker.internal" force="true" />
        <env name="DB2_DATABASE" value="test" force="true" />
        <env name="DB2_USERNAME" value="db2inst1" force="true" />
        <env name="DB2_PASSWORD" value="password" force="true" />
        <env name="LOG_FILEPATH" value="./logs/database.log" force="true" />
        <env name="LOG_TIMEFORMAT" value="Y-m-d H:i:s T" force="true" />
    </php>
</phpunit>